$gradientPurple: #84499a;
$gradientPink: #c74494;
$gradientCream: #f49b92;

$mainPink: #bc4595;
$darkBlue: #232649;
$blue: #003083;
$azure: #007ad8;
$lightAzure: #2196f3;
$darkGreen: #0a473d;
$clay: #ff8a65;

$lightGreen: #CEF7DC;
$lightBlue: #d6f0ff;
$otherWhite: #f2f2f2;