@import "./colors";

.content {
  margin: auto;
  .globes {
    padding: 3rem 0;
    width: 100%;
  }
  .devices {
    width: 1200px;
    margin: auto;
    padding-left: 6.5rem;
    .devices__wrapper {
      float: left;
      .top__heading {
        color: $darkBlue;
      }
      .bottom__heading {
        color: $mainPink;
      }
      .devices__p {
        font-size: 1.5rem;
        color: $darkBlue;
        padding: 2rem 0;
      }
      .btn {
        border: none;
        font-size: 1.75rem;
        cursor: pointer;
        padding: .5rem 2rem;
        border-radius: 5px;
      }
    }
  }
  .phone-laptop {
    width: 43%;
  }
  .mobile__btns {
    display: none;
    width: 200px;
    align-items: center;
    .btn {
      border: none;
      font-size: 1.25rem;
      border-radius: 5px;
      padding: .75rem 3rem;
      font-weight: 500;
    }
    .btn__secondary {
      border: 2px solid $mainPink;
      margin: 1rem 0;
    }
  }
}

.grid__container {
  padding: 2rem 0 0 0;
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 370px);
    grid-gap: 2rem 2rem;
    .grid-item {
      padding:10px;
      .phones {
        padding-bottom: 2rem;
      }
      .construction__header {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
      .construction__p {
        font-size: 1.5rem;
      }
    }
  }
}

.phone__wrapper {
  height: 375px;
  max-width: 1235px;
  background: $azure;
  margin: 5rem auto;
  position: relative;
  .phone {
    margin-top: -15px;
    float: left;
  }
  .phone__content {
    font-weight: 800;
    float: left;
    padding: 3rem 0;
    .phone__heading-top {
      font-size: 4rem;
      color: $darkBlue;
      text-align: center;
    }
    .phone__heading-bottom {
      font-size: 4rem;
      color: white;
      text-align: center;
    }
    .phone__heading-bottom-mobile {
      display: none;
    }
    .btn__container {
      float: right;
      padding: 3rem 0;
      .btn_get-started  {
        border: none;
        background: white;
        color: black;
        font-size: 1.75rem;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin-left: 5rem;
        cursor: pointer;
        &:hover {
          background: $darkBlue;
          color: white;
        }
      }
      .btn_contact {
        border: none;
        background: transparent;
        font-size: 1.75rem;
        color: white;
        cursor: pointer;
        &:hover {
          color: $darkBlue;
        }
      }
    }
  }
}

.phone__button {
  display: none;
  font-size: 1.25rem;
  font-weight: 500;
  background: $azure;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 1rem 10rem;
  margin: -4.5rem auto 3.5rem auto;
  cursor: pointer;
}

.breakdown {
  width: 100%;
  background: $lightBlue;
  height: auto;
  margin: -16rem auto;
  padding: 14rem 0 2rem 0;
  //text-align: center; 
  overflow: hidden;
  position: relative;
  top: -210px;
  z-index: -99;
  .breakdown__row {
    width: 2400px;
    margin: 0 0rem 2rem 0rem;
    .breakdown__item {
      display: inline;
      margin: .5rem 2rem;
      .breakdown__icon {
        vertical-align:middle;
        margin-right: 1rem;
        filter: drop-shadow(0 8px 8px rgba(72,72,72,0.12))
      }
    }
  }

  .moved {
    margin-left: -6rem;
  }


  .breakdown__button-mobile {
    display: none;
  }
}
.breakdown__button {
  font-size: 1.75rem;
  padding: 1rem 2rem;
  background: $azure;
  border: none;
  border-radius: 5px;
  color: white;
  margin: -5rem auto 0 auto;
  position: relative;
  top: -30px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  &:hover {
    background: $darkBlue;
  }
}

.clipped {
  margin: 2.85rem 0 0 0;
  height: 50px;
  background: $lightBlue;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  position: relative;
  z-index: -1;
}

.construction {
  width: 1100px;
  margin: -2rem auto -10rem auto;
  .flexed {
    display: flex;
    margin-top: 5rem;
    .globe__pic {
      top: -100px;
      align-self: start;
      margin-left: -5rem;
    }
    .story {
      float: right;
      text-align: right;
      margin-top: 5rem;
      .globe__p {
        font-size: 1.5rem;
        color: $darkBlue;
        padding:1rem 0 0 3rem;
      }
    }
  }
  .heading__industry-mobile {
    display: none;
  }
  .mobile__p {
    display: none;
  }
  .cool__story {
    display: flex;
    min-height: 950px;
    .phone__menu {
      width: 40%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr); 
      grid-column-gap: 1rem;
      grid-row-gap: 1rem; 
      padding-top: 2rem;
      align-self: start;
      .phone__item {
        padding: 1rem;
        border: solid grey 1px;
        border-radius: 30px;
        width: 130px;
        text-align: center;
        cursor: pointer;
        &:hover {
          border: solid $gradientPurple 1px;
          color: $gradientPurple;
        }
        .item__label {
          padding-top: 1rem;
          font-size: 1.25rem;
        }
      }
    }
  }
  .accordeon {
    display: none;
  }
  .smartphone {
    margin: -5rem auto -25rem 8rem;
    background-image: url("../assets/img/Phone.png");
    background-size: contain;
    z-index: -999;
    .screen__wrapper {
      width: 80%;
      margin: 6rem auto 0 auto;
      text-align: center;
      .screen__p {
        font-size: 1.5rem;
        padding: 2rem 0 1rem 0;
        text-align: left;
      }
      .list__item {
        padding: 1rem 0 0;
        font-size: 1.4rem;
        .check {
          margin-right: .5rem;
          margin-bottom: -.15rem;
          margin: 0 .5rem -.25rem .5rem;
        }
      }
      .screen__button {
        float: left;
        background: $azure;
        color: white;
        border: none;
        padding: .5rem 1.5rem;
        border-radius: 5px;
        margin-top: 3rem;
        font-size: 1.5rem;
      }
    }
  }
  .guy {
    position: absolute;
    margin: 26.35rem 0 0 58rem;
  }
}

h2 {
   font-size: 4rem;
   font-weight: 800;
}

.btn__primary {
  background: $mainPink;
  color: white;
  &:hover {
    background: $gradientPurple;
  }
}
.btn__secondary {
  background: transparent;
  color: $mainPink;
  margin-left: 2rem;
  &:hover {
    color: $darkBlue;
  }
}

.active {
  font-weight: 500;
  color: $gradientPurple;
}


@media screen and (max-width: 1340px) {
  .content {
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(132,73,154,0) 95%, rgba(242,242,242,1) 95%);
    .devices {
      width: auto;
      display: grid;
      padding: 0;
      .devices__wrapper {
        align-items: center;
        text-align: center;
        .btn {
          display: none;
        }
      }
    }
    .phone-laptop {
      width: 550px;
      margin: auto;
      margin-top: 2rem;
     }
    .mobile__btns {
      display: block;
      margin: auto;
      margin-top: 3rem;
    }
    .grid__container {
      .grid {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 370px);
        .grid-item {
          padding:10px;
          .phones {
            padding-bottom: 2rem;
          }
          .construction__header {
            font-size: 2rem;
            padding-bottom: 2rem;
          }
          .construction__p {
            font-size: 1.5rem;
          }
        }
      }
    }
    .clipped {
      z-index: 99;
    }
    .breakdown__button {
      z-index: 99;
      text-align: center;
    }
    .construction {
      width: 100%;
      display: inline-block;
      margin: -5.5rem auto 2rem auto;
      background: #f2f2f2;
      .flexed {
        padding: 0;
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
        padding-top: 3rem;
        .globe__pic {
          margin: auto;
          padding: 2rem 0 2rem 0;
        }
        .story {
          text-align: center;
          .globe__p {
            margin: auto;
            padding: 1rem 0 0 0;
          }
        }
      }
      .cool__story {
        display: none;
      }
      .heading__industry {
        text-align: center;
      }
      .heading__industry-mobile {
        display: none;
      }
      .mobile__p {
        display: block;
        width: 80%;
        text-align: center;
        margin: 2rem auto;
      }

      .accordeon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        padding: 1rem;
        align-items: center;
        justify-items: center;
        .accordion__item {
          max-width: 500px;
          background: white;
          padding: 1rem 1rem .5rem 1rem;
          border-radius: 3px;
          margin: 1rem 1rem;
          .acc__header {
            display: flex;
            cursor: pointer;
            .acc__title {
              font-size: 1.75rem;
              font-weight: 400;
              margin-bottom: .25rem;
            }
            .dropdown__icon {
              display: none;
            }
          }
          .acc__content {
            overflow: hidden;
            transition: max-height 0.25s ease-out;
            padding: .5rem .5rem 0 .5rem;
          }
          .acc__text {
            font-size: 1.25rem;
            line-height: 1.5rem;
            padding: 0;
          }
          .advantages {
            font-size: 1.25rem;
            margin-top: 1rem;
          }
          .list__item {
            padding: 1rem 0 0;
            font-size: 1.25rem;
            .check{
              margin: 0 .5rem -.25rem .5rem;
            }
          }
          .accordeon__button {
            background: transparent;
            border: none;
            font-size: 1.25rem;
            color: $azure;
            float: right;
            padding: .5rem;
            margin: 2rem 0 .5rem 0;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .phone__wrapper {
    height: 300px;
    width: 900px;
    .phone {
      height: 325px;
    }
    .phone__content {
      .phone__heading-top {
        font-size: 3rem;
      }
      .phone__heading-bottom {
        font-size: 3rem;
      }
      .phone__heading-bottom-mobile {
        display: none;
      }
      .btn__container {
        font-size: 1rem;
          .btn_contact {
            font-size: 1.25rem;
          }
          .btn_get-started {
            font-size: 1.25rem;
          }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .content {
    .globes {
      display: none;
    }
    .devices {
      width: auto;
      display: grid;
      padding: 0;
      .devices__wrapper {
        align-items: center;
        text-align: center;
        .top__heading {
          color: $darkBlue;
          font-size: 2rem;
          padding-top: 5rem;
        }
        .bottom__heading {
          color: $mainPink;
          font-size: 2rem;
        }
        .devices__p {
          font-size: 1.25rem;
          color: $darkBlue;
          padding: 1rem 0 0 0;
        }
        .btn {
          display: none;
        }
      }
    }
    .phone-laptop {
      width: 70%;
      margin: 2rem auto 0 auto;
      padding-left: 2rem;
     }
    .grid__container {
      .grid {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 180px);
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        .grid-item {
          padding:10px;
          .phones {
            float: left;
            padding: 0 1rem 0 0;
            height: 30px;
          }
          .construction__header {
            font-size: 1.75rem;
            padding: 0 0 .5rem .5rem;
          }
          .construction__p {
            font-size: 1.25rem;
          }
        }
      }
    }
    .phone__wrapper {
      height: 195px;
      width: auto;
      .phone {
        height: 110%;
      }
      .phone__content {
        float: right;
        margin-right: 2rem;
        padding-top: 3.5rem;
        .phone__heading-top {
          font-size: 2rem;text-align: right;
        }
        .phone__heading-bottom {
          display: none;
        }
        .phone__heading-bottom-mobile {
          display: block;
          color: white;
          font-size: 2rem;text-align: right;
        }
        .btn__container {
          display: none;
        }
      }
    }
    .phone__button {
      display: block;
    }
    .construction {
      padding-top: 7rem;
      margin-top: -3.1rem;
      margin-bottom: 0;
      background: #f2f2f2;
      z-index: -999;
      .flexed {
        width: auto;
        padding: 0;
        flex-direction: column-reverse;
        .globe__pic {
          margin: auto;
          padding: 0 0 2rem 0;
          margin: auto;
        }
        .story {
          text-align: center;
          width: 90%;
          margin: -1rem auto 0 auto;
          .service_h {
            font-size: 2rem;
          }
          .globe__p {
            font-size: 1.25rem;
            padding-bottom: 2rem;
            line-height: 2rem;
          }
        }
      }

      .heading__industry {
        display: none;
      }
      .heading__industry-mobile {
        font-size: 2rem;
        text-align: center;
        display: block;
      }
      .mobile__p {
        font-size: 1.25rem;
        text-align: center;
        display: block;
        line-height: 2rem;
        padding: 1rem 0 0 0;
        width: 90%;
        margin: auto;
      }
      .accordeon {
        display: flex;
        flex-direction: column;
        background: #f2f2f2;
        margin: 2rem auto;
        padding: 1rem 0;
        .accordion__item {
          max-width: 460px;
          .acc__header {
            .acc__title {
              font-size: 1.75rem;
              font-weight: 400;
              
            }
            .dropdown__icon {
              margin-left: auto;
              margin-top: .25rem;
              display: block;
            }
          }
        }
        .acc__content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.25s ease-out;
        }
        .acc__text {
          font-size: 1.25rem;
          line-height: 1.5rem;
          padding: 1rem 0;
          line-height: 2rem;
        }
        .advantages {
          font-size: 1.25rem;
        }
        .list__item {
          padding: 1rem 0 0;
          font-size: 1.25rem;
          .check{
            margin-right: .5rem;
            margin-bottom: -.15rem;
            margin: 0 .5rem -.25rem .5rem;
          }
        }
        .accordeon__button {
          background: transparent;
          border: none;
          font-size: 1.25rem;
          color: $azure;
          float: right;
          padding: .5rem;
          margin: 2rem 0 0 0;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
    .clipped {
      margin: -13.2rem 0 0 0;
      z-index: 99;
    }

    .breakdown {
      height: 440px;
      margin: 0;
      }
      .breakdown__button {
        display: none;
      }
      .breakdown__button-mobile {
        display: block;
        font-size: 1.25rem;
        background: transparent;
        color: $azure;
        border: none;
        font-weight: 500;
        margin: 3rem auto 1rem auto;
      }
      .breakdown__row {
        margin-left: -24rem;
        .breakdown__item {
          font-size: 1rem;
          display: inline;
          margin: .5rem 1rem;
          .breakdown__icon {
            height: 40px;
          }
        }
      }
      .moved {
        margin-left: -17rem;
      }
    }

  }
  